#Already Added

Android/GitHubProjects/
Android/Channel_Info/
Angular/csc/
Angular/From Git/
English/
Python/python-mini-projects/
Javascript/From Github/
Node/CscAccountServer/
Java/JioEpgDownloader/

.gradle/
.idea/
.settings/

build/
target/

*.zip

#Files
local.properties

SSL Keys/
